@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

.bookfly {
  padding: 15px 15px;
}

.bookfly-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bookfly-header > h3 {
  font-size: 26px;
  color: rgba(116, 21, 47, 1);
  letter-spacing: 2px;
  font-weight: 500;
  font-family: 'Rock Salt', cursive;
  margin: 0;
  cursor: pointer;
}
