.account {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.account-info {
  margin-left: 20px;
}

.account-info-counters {
  display: flex;
}

.account-name {
  font-size: 20px;
  font-weight: 600;
}

.account-info-counters > div {
  margin-right: 10px;
  font-weight: 500;
}

.account-info-counters > div > span {
  font-weight: 600;
  color: #0091ff;
}
