.requests {
  list-style: none;
  padding: 0;
}

.requests > li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;;
}

.requests > li > span {
  flex: 1;
  margin-left: 10px;
}

.line {
  height: 1px;
  background: #aaa;
}
