.updates-history {
  list-style: none;
  padding: 0;
}

.updates-history > li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;;
}

.updates-history > li > span {
  flex: 1;
  margin-left: 10px;
}
